:root{
    --main-color: #1D1D1D;
    --sub-color: #C2A275;
    --main-font: "Pretendard", sans-serif;
    --sub-font: "Hahmlet" , serif;
}

/* 공통 */
section h3{ color: var(--sub-color); font-family: var(--sub-font); font-size: 2rem; font-weight: 600; }
.btn_more{ transition: all 0.5s; display: inline-block; background: url(../image/main/btn_more.png)no-repeat center; font-size: 0; cursor: pointer; width: 70px; height: 20px; }
.btn_more:hover{ transform: translateX(15px); }

@media (max-width: 1024px) {
  section h3{ font-size: 1.8rem; }
  .btn_more:hover{ transform: none; }
}

@media (max-width: 850px) {
  section h3{ font-size: 1.6rem; }
}

@media (max-width: 500px) {
  section h3{ font-size: 1.4rem; }
}

/* visual */
.visual{ position: relative; width: 100%; height: 850px; }
.visual .visual_01{ background: url(../image/main/visual_01.png)no-repeat center / cover; width: 100%; height: 850px; }
.visual .visual_02{ background: url(../image/main/visual_02.png)no-repeat center / cover; width: 100%; height: 850px; }
.visual .visual_txt{ padding-left: 200px; padding-top: 310px; color: var(--main-color); }/* padding-left: 14.0625vw; padding-top: 17.7083vw; */
.visual .visual_txt span{ font-family: var(--sub-font); font-size: 2rem; font-weight: 600; }
.visual .visual_txt h2{ font-size: 4rem; font-weight: 600; padding: 10px 0 30px; }
.visual .visual_txt p{ font-size: 2rem; font-weight: 500; }

.visual_list .swiper-wrapper{ transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1) !important; }
.visual .start{ position: absolute; left: 200px;  bottom: 250px; z-index: 5; }/* left: 14.0625vw; 270 */
.visual .end{ position: absolute; left: 325px; bottom: 250px; z-index: 5; }/* left: 21.09375vw; 405 */
.visual .page-number{ color: rgba(0,0,0,0.5); }
.visual .page-number.active{ color: var(--main-color) !important; opacity: 1; }
.visual .swiper-pagination-progressbar{ top: auto; bottom: 260px; height: 3px; width: 80px; left: 230px; }/* left: 15.885416vw; 305 */
.visual .swiper-pagination-progressbar-fill{ background: var(--main-color); }

@media (max-width: 1024px) {
  .visual .visual_txt{ padding-top: 450px; padding-left: 130px; }
  .visual .visual_txt span{ font-size: 1.8rem; }
  .visual .visual_txt h2{ font-size: 3.5rem; padding: 8px 0 20px; }
  .visual .visual_txt p{ font-size: 1.8rem; }
  .visual .start{ bottom: 160px; left: 130px; }
  .visual .end{ bottom: 160px; left: 240px; }/* left: 25.52083vw; 490 */
  .visual .swiper-pagination-progressbar{ left: 160px; bottom: 170px; width: 65px; }/*  left: 17.447916vw; 335 */
}

@media (max-width: 850px) {
  .visual .visual_txt{ padding-top: 480px; padding-left: 100px; }
  .visual .visual_txt span{ font-size: 1.6rem; }
  .visual .visual_txt h2{ font-size: 3rem; padding: 6px 0 15px; }
  .visual .visual_txt p{ font-size: 1.6rem; }
  .visual .start{ left: 100px; }
  .visual .end{ left: 210px; }
  .visual .swiper-pagination-progressbar{ left: 130px; }
}

@media (max-width: 650px) {
  .visual .visual_01{ background: url(../image/main/visual_mobile.png)no-repeat center / cover; width: 100%; height: 850px; }
  .visual .visual_txt{ padding-top: 550px; padding-left: 50px; }
  .visual .visual_txt span{ font-size: 1.4rem; }
  .visual .visual_txt h2{ font-size: 2.5rem; padding: 6px 0 15px; }
  .visual .visual_txt p{ font-size: 1.4rem; }
  .visual .start{ left: 50px; bottom: 120px; font-size: 1.4rem; }
  .visual .end{ left: 160px; bottom: 120px; font-size: 1.4rem; }
  .visual .swiper-pagination-progressbar{ left: 80px; bottom: 130px; }
}

/* story */
.story{ padding: 200px 0; }
.story h3{ padding-top: 120px; }
.story .story_txt strong{ display: inline-block; color: var(--main-color); font-size: 4rem; font-weight: 400; padding: 20px 0 30px; }
.story .story_txt p{ font-size: 2rem; color: var(--main-color); padding-bottom: 30px; }

.story .story_top{ position: relative; display: flex; justify-content: center; gap: 200px; margin-bottom: 100px; }
.story .story_top .story_img{ position: relative; width: 520px; }
.story .story_top img:nth-child(1){ position: absolute; left: 70px; top: 70px; z-index: 2; }
.story .story_top img:nth-child(2){ position: absolute; filter: saturate(30%); z-index: 1; opacity: 0.2; }
.story .story_top .story_txt{ background: url(../image/main/story_01_bg.png)no-repeat right bottom 30px; padding-bottom: 200px; padding-right: 100px; }

.story .story_bottom{ position: relative; display: flex; justify-content: center; gap: 200px; }
.story .story_bottom .story_img{ position: relative; width: 520px; }
.story .story_bottom img:nth-child(1){ position: absolute; top: 70px; z-index: 2; }
.story .story_bottom img:nth-child(2){ position: absolute; filter: saturate(30%); z-index: 1; opacity: 0.2; left: 70px; }
.story .story_bottom .story_txt{ text-align: end; background: url(../image/main/story_02_bg.png)no-repeat left bottom; padding-bottom: 250px; padding-left: 180px; }

@media (max-width: 1300px) {
  .story{ padding: 180px 0; }
  .story .story_txt strong{ font-size: 3.5rem; }

  .story .story_top{ gap: 160px; }
  .story .story_top .story_img{ width: 450px; }
  .story .story_top .story_img img{ width: 400px; }
  
  .story .story_bottom{ gap: 180px; }
  .story .story_bottom .story_img{ width: 450px; }
  .story .story_bottom .story_img img{ width: 400px; }
  .story .story_bottom img:nth-child(1){ right: 90px; }
  .story .story_bottom img:nth-child(2){ left: 50px; }
}

@media (max-width: 1250px) {
  .story .story_txt strong{ font-size: 3rem; padding: 15px 0 25px; }
  .story .story_txt p{ font-size: 1.6rem; padding-bottom: 25px; }
  .story .story_top{ gap: 150px; }
  .story .story_top .story_img{ width: 400px; }
  .story .story_top .story_img img{ width: 350px; }
  .story .story_top .story_txt{ background-size: 171px 210px; padding-bottom: 170px; padding-right: 80px; }

  .story .story_bottom{ gap: 150px; }
  .story .story_bottom .story_img{ width: 400px; }
  .story .story_bottom .story_img img{ width: 350px; }
  .story .story_bottom .story_txt{ background-size: 300px 300px; padding-bottom: 200px; padding-left: 150px; }
}

@media (max-width: 1001px) {
  .story .story_txt strong{ font-size: 2.5rem; padding: 10px 0 20px; }
  .story .story_txt p{ font-size: 1.4rem; padding-bottom: 20px; }
  .story .story_top{ gap: 120px; }
  .story .story_top img:nth-child(2){ top: 10px; left: 10px; }
  .story .story_top .story_txt{ background-size: 121px 160px; padding-bottom: 140px; padding-right: 50px; }

  .story .story_bottom{ gap: 120px; }
  .story .story_bottom img:nth-child(1){ top: 70px; right: 0; }
  .story .story_bottom img:nth-child(2){ left: 110px; top: 10px; }
  .story .story_bottom .story_txt{ background-size: 250px 250px; padding-bottom: 160px; padding-left: 100px; }
}

@media (max-width: 850px) {
  .story{ padding: 150px 0; }
  .story .story_txt{ z-index: 10; }
  .story .story_txt strong{ color: #fff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  .story .story_txt p{ color: #fff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  .story .story_top{ flex-wrap: wrap; margin-bottom: 100px; }
  .story .story_top img:nth-child(1){ right: 0; }
  .story .story_top img:nth-child(2){ left: 0; }
  .story .story_top .story_txt{ background: none; padding-left: 100px; padding-bottom: 50px;}
  .story .story_bottom .story_img{ position: absolute; }
  .story .story_bottom img:nth-child(1){ left: 0; }
  .story .story_bottom img:nth-child(2){ left: 70px; }
  .story .story_bottom .story_txt{ padding-top: 90px; padding-left: 40px; padding-bottom: 0; background: none; margin-bottom: 100px; }
  .story .btn_more{ background: url(../image/main/btn_more_w.png)no-repeat center; padding-bottom: 0; padding-left: 0; }

}

@media (max-width: 500px) {
  .story{ padding: 100px 0; }
}

/* best */
.best .best_top{ background: url(../image/main/best_top.png)no-repeat center / cover; width: 100%; height: 495px; }
.best .best_top h3{ text-align: center; padding-top: 160px; }
.best .best_top strong{ display: block; text-align: center; color: #fff; font-size: 3rem; font-weight: 300; padding: 25px 0 30px; }
.best .best_top p{ color: #fff; text-align: center; font-weight: 300; font-size: 2rem; }

.best .best_bottom{ background: #F5F2ED; height: 700px; }
.best .best_bottom .inner{ max-width: 1540px; padding-top: 180px; display: flex; align-items: center; justify-content: space-between; }
.best .best_bottom .best_left{ display: flex; flex-direction: column; align-items: flex-start; }
.best .best_txt{ color: var(--main-color); }
.best .best_txt p{ font-size: 2rem; padding: 12px 0 24px; }

.best .best_txt a{ display: block; line-height: 1.7; }
.best .best_txt > div, .best_img > li{ opacity: 0; transform: translateY(2px); filter: blur(3px); transition: opacity 900ms cubic-bezier(0.25, 1, 0.5, 1), transform 900ms cubic-bezier(0.25, 1, 0.5, 1), filter 900ms cubic-bezier(0.25, 1, 0.5, 1); height: 0; overflow: hidden; pointer-events: none; }
.best .best_txt > div.active, .best_img > li.active{ opacity: 1; transform: translateY(0); filter: blur(0); height: auto; overflow: visible; pointer-events: auto; }
.best_img > li .prd_img{ opacity: 0; transform: translateY(2px); filter: blur(3px); transition: opacity 900ms cubic-bezier(0.25, 1, 0.5, 1), transform 900ms cubic-bezier(0.25, 1, 0.5, 1), filter 900ms cubic-bezier(0.25, 1, 0.5, 1); }
.best_img > li.active .prd_img{ opacity: 1; transform: translateY(0); filter: blur(0); }
.best_img > li.active .prd_img:nth-child(1){ transition-delay: 180ms; }
.best_img > li.active .prd_img:nth-child(2){ transition-delay: 240ms; }
.best_img > li.active .prd_img:nth-child(3){ transition-delay: 320ms; }


.best .best_txt > div{ position: relative; padding-left: 25px; }
.best .best_txt .prd_line::before{ content: ""; position: absolute; left: -25px; top: 25px; width: 1px; height: 220px; background: var(--main-color); }
.best .best_txt .prd_line{ position: relative; display: inline-block; font-size: 3rem; font-weight: 600; padding-top: 35px; }
.best .best_txt .prd_line::after{ content: ""; display: inline-block; width: 15px; height: 30px; background: url(../image/main/arrow.png)no-repeat center; transition: all 0.5s; margin-left: 10px; transform: translateY(5px); }
.best .best_txt .prd_line:hover::after{ transform: translate(15px,5px); }
.best .best_txt .prd_name a:hover{ font-weight: 700; color: #C2A275; }
.best .best_img{ position: relative; }
.best .best_img > .active{ display: flex; justify-content: center; gap: 10px; align-items: center; }

.best_img .prd_img{ position: relative; display: inline-block; overflow: visible; }
.best_img .prd_img img{ display: block; }
.best_img .hover_bg{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); object-fit: contain; opacity: 0; transition: opacity 0.5s; z-index: 1; }
.best_img .prd_img > img:first-child{ position: relative; z-index: 2; display: block; }
.best_img .prd_img:hover .hover_bg{ opacity: 1; }

.best .best_txt > .active{ display: block; }
.best .best_bottom .best_btn{ display: flex; gap: 15px; }
.best .best_bottom .best_btn button{ background: rgba(194, 162, 117,0.5); color: #fff; padding: 10px 35px; border-radius: 20px; cursor: pointer; font-weight: 500; font-size: 1.8rem; letter-spacing: 1px; }
.best .best_bottom .best_btn button:hover{ background: #C2A275; }
.best .best_bottom .best_btn button.active{ background: #C2A275; }

@media (max-width: 1320px) {
    .best .best_txt .prd_line::before{ height: 200px; }
    .best .best_txt .prd_line{ font-size: 2.5rem; }
    .best .best_txt .prd_line::after{ transform: translateY(7px); }
    .best .best_txt p{ font-size: 1.8rem; padding: 10px 0 22px; }
    .best .best_txt a{ line-height: 1.5; font-size: 1.4rem; }
    .best .best_img > .active{ gap: 180px; }
}

@media (max-width: 1200px) {
    .best .best_img > .active{ gap: 150px; }
}

@media (max-width: 1024px) {
    .best .best_txt .prd_line::before{ height: 200px; }
    .best .best_txt p{ font-size: 1.6rem; padding: 10px 0 22px; }
    .best .best_img > .active{ gap: 130px; }
    .best .best_txt .prd_name a:hover{ color: #1D1D1D; }
    .best .best_txt .prd_line:hover::after{ transform: translate(0,0); }
}

@media (max-width: 900px) {
    .best .best_top{ height: 325px; }
    .best .best_top h3{ padding-top: 100px; }
    .best .best_top strong{ font-size: 2rem; padding: 15px 0 25px; }
    .best .best_top p{ font-size: 1.4rem; }
    .best .best_bottom{ height: 325px; }
    .best .best_bottom .inner{ padding-top: 10px; }
    .best .best_bottom .best_btn{ gap: 10px; }
    .best .best_bottom .best_btn button{ font-size: 1.4rem; padding: 8px 27px; }
    .best .best_txt .prd_line::before{ top: 0; }
    .best .best_txt .prd_line{ font-size: 2rem; padding-top: 0; word-break: keep-all; }
    .best .best_txt p{ word-break: keep-all; }
    .best .best_txt > div{ padding-left: 0; }
    .best .best_img > .active{ gap: 60px; }
    .best .best_img > li img{ transform: scale(0.8); }
}

@media (max-width: 705px) {
  .best .best_top{ height: 200px; }
  .best .best_top h3{ padding-top: 50px; }
  .best .best_top strong{ font-size: 1.6rem; padding: 8px 0 15px; }
  .best .best_top p{ font-size: 1.2rem; }
  .best .best_bottom{ height: 400px; }
  .best .best_bottom .inner{ padding-top: 0; flex-wrap: wrap; }
  .best .best_bottom .best_btn{ padding-top: 20px; }
  .best .best_bottom .best_btn button{ padding: 5px 25px; word-break: keep-all; }
  .best .best_txt{ display: flex; flex-wrap: nowrap; }
  .best .best_txt .prd_line{ font-size: 1.8rem; line-height: 1.5; word-break: keep-all; }
  .best .best_txt p{ padding: 5px 0 0; font-size: 1.4rem; }
  .best .best_txt a{ display: none; }
  .best .best_img > .active{ display: flex; }
  .best .best_img > li img{ transform: scale(0.7); }
} 

/* event */
.event{ margin-bottom: 200px; background: url(../image/main/event_bg.png)no-repeat center / cover; width: 100%; height: 937px; }
.event h3{ text-align: center; padding-top: 115px; }
.event > p{ font-size: 2rem; text-align: center; padding: 25px 0 65px; color: var(--main-color); }
.event .btn_more{ display: block; margin: 100px auto; }
.event .event_list ul li{ transition: all 0.5s; display: flex; justify-content: center; gap: 85px; align-items: center; color: #fff; width: 1000px; height: 450px; flex: 0 0 auto; }
.event .event_list ul li span{ display: block; padding-bottom: 14px; font-size: 2.5rem; font-weight: 600; }
.event .event_list ul li p{ font-size: 1.8rem; }
.event .event_list ul li p:nth-child(3){ padding: 14px 0 50px; }
.event .event_list ul li .date{ font-size: 1.6rem; }

.event ul li.swiper-slide { transform: scale(0.8,0.8); }
.event ul li.swiper-slide-active { transform: scale(1,1); }

@media (max-width: 1250px) {
    .event .event_list ul li{ gap: 55px; height: 400px; }
    .event .event_list ul li span{ font-size: 2rem; }
    .event .event_list ul li p{ font-size: 1.6rem; }
    .event .event_list ul li p:nth-child(3){ padding: 10px 0 40px; }
    .event .event_list ul li .date{ font-size: 1.4rem; }
}

@media (max-width: 1024px) {
    .event{ margin: 180px 0; height: 650px; }
    .event h3{ padding-top: 100px; }
    .event > p{ padding: 15px 0 40px; }
    .event .event_list ul li{ gap: 35px; height: 300px; }
    .event .event_list ul li span{ padding-bottom: 10px; }
    .event .event_list ul li p{ font-size: 1.6rem; }
    .event .event_list ul li p:nth-child(3){ padding: 10px 0 40px; }
    .event .event_list ul li .date{ font-size: 1.4rem; }
}

@media (max-width: 850px) {
    .event{ margin: 150px 0; }
    .event h3{ padding-top: 100px; }
    .event > p{ font-size: 1.8rem; padding: 15px 0 40px; }
    .event .event_list ul li{ gap: 35px; height: 300px; }
    .event .event_list ul li span{ padding-bottom: 10px; }
    .event .event_list ul li p{ font-size: 1.6rem; }
    .event .event_list ul li p:nth-child(3){ padding: 10px 0 40px; }
    .event .event_list ul li .date{ font-size: 1.4rem; }
}

@media (max-width: 500px) {
  .event{ margin: 100px 0; }
  .event h3{ padding-top: 80px; }
  .event > p{ font-size: 1.6rem; }
  .event .event_list ul li{ display: grid; grid-template-columns: 1fr; gap: 10px; }
  .event .event_list ul li .event_img{ margin: 0 auto; }
  .event .event_list ul li .event_txt{ margin: 0 auto; }
  .event .event_list ul li span{ font-size: 1.8rem; }
  .event .event_list ul li p{ font-size: 1.4rem; }
  .event .event_list ul li .date{ font-size: 1.2rem; }
  .event .event_list ul li p:nth-child(3){ padding: 10px 0 20px; }
}

/* membership */
.membership{ position: relative; height: 300px; background: url(../image/main/mem_bg.png)no-repeat center / cover; }
.membership::before{ transition: all 0.5s; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; background: url(../image/main/mem_img.png)no-repeat right 150px center / contain; }
.membership:hover::before{ transform: scale(1.1); }
.membership .inner{ position: relative; z-index: 1; }
.membership h3{ padding-top: 110px; }
.membership p{ padding: 15px 0 50px; }

@media (max-width: 1024px) {
  .membership::before{ background-position: right 50px center; }
  .membership:hover::before{ transform: none; }
}

@media (max-width: 950px) {
  .membership::before{ background-position: right 20px center; background-size: 400px; }
}

@media (max-width: 800px) {
  .membership h3{ padding-top: 55px; }
  .membership p{ padding: 10px 0 30px; }
  .membership::before{ background-position: right 20px bottom 20px; background-size: 250px; }
}

/* community */
.community{ margin: 200px 0; padding: 0 40px; }
.community h3{ padding-bottom: 50px; }
.community .btn{ display: flex; justify-content: space-between; border-bottom: 1px solid var(--main-color); margin-bottom: 50px; padding-bottom: 30px; }
.community .review_btn{ display: flex; justify-content: flex-start; gap: 30px; }
.community .review_btn button{ font-size: 2rem; background: transparent; color: #999; font-weight: 600; cursor: pointer; }
.community .review_btn button.active{ color: var(--main-color); }
.community .review_search form fieldset{ position: relative; border: 1px solid #999; padding: 5px 10px; }
.community .review_search form input[type="text"]{ background: transparent; outline: none; }
.community .review_search form input[type="text"]::placeholder{ color: #bbb; }
.community .review_search form input[type="submit"]{ background: url(../image/main/bg_search.png)no-repeat center / cover; font-size: 0; width: 18px; height: 18px; cursor: pointer; }

.community .review > li{ display: none; }
.community .review > li.active{ display: flex; gap: 30px; }

.community .review > li.active a.review_txt{ position: relative; display: block; overflow: hidden; flex: 1; min-width: 0; }
.community .review > li.active a.review_txt > img{ display: block; width: 100%; transition: all 0.5s; }

.community .overlay{ position: absolute; inset: 0; opacity: 0; transition: all 0.5s; }
.community .overlay::before{ content: ""; position: absolute; inset: 0; background: rgba(0,0,0,0.5); }
.community .rating{ position: absolute; top: 24px; right: 24px; display: inline-flex; align-items: center; gap: 6px; color: #fff; z-index: 1; font-size: 1.8rem; font-weight: 600; }
.community .rating .star{ width: 24px; height: 24px; display: block; }
.community .info{ position: absolute; left: 24px; right: 24px; bottom: 24px; z-index: 1; color: #fff; display: flex; flex-direction: column; gap: 8px; }
.community .info .date{ font-size: 1.6rem; opacity: 0.8; font-weight: 700; }
.community .info .title{ display: block; max-width: 100%; font-size: 2rem; font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.community .review > li.active a.review_txt:hover .overlay, .community .review > li.active a.review_txt:focus .overlay{ opacity: 1; }

.community .btn_more{ display: block; margin: 0 auto; padding-top: 150px; }

@media (max-width: 1200px) {
  .community h3{ padding-bottom: 30px; }
  .community .btn{ margin-bottom: 30px; padding-bottom: 20px; }
  .community .review_btn button{ font-size: 1.8rem; }
  .community .review > li.active{ gap: 30px; }
}

@media (max-width: 850px) {
  .community .review_btn button{ font-size: 1.6rem; }
  .community .review > li.active{ display: grid; grid-template-columns: 1fr 1fr; }
}

@media (max-width: 500px) {
  .community{ margin: 100px 0; }
  .community .btn{ flex-wrap: wrap; gap: 15px; }
  .community .review_btn{ gap: 15px; }
  .community .review_btn button{ font-size: 1.4rem; }
  .community .review > li.active{ display: grid; grid-template-columns: 1fr; }
  .community .review_search form input[type="text"]::placeholder{ font-size: 1.4rem; }
}